html {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffbd9c;
    color: #3D3D3D;
}

html, body {
    height: auto;
    margin: 0px; /*resets the margin and padding of the css*/
    padding: 0px;
}

a, a:visited {
    color: #3D3D3D; /*links wont appear in a different colour*/
    text-decoration: none;
}


header {
    height: 70px; /*should change this and footer later, a set height makes it not scale with width*/
    width: 100%;
    position: fixed;
    z-index: 1; /*makes the header appear on top*/
    background-color: white;
    padding-left: 60px;
} 

main {
    margin: 0;
    padding-top: 70px;
    min-height: 794px;
}

footer {
    height: 70px; 
    max-width: 100%; /*max width makes page not sidescroll, whereas width does*/
    background-color: white;
    padding-left: 60px;
    padding-top: 1px;
    padding-bottom: 2px;
}

#splash {
    position: relative;
    min-height: 400px;
    font-size: 35px;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 77px;
    background-color: #ffbdc6;
    color: #ffffff;
}

#updates {
    color: #737373;
    min-height: 600px;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 35px;
    padding-bottom: 0px;
}

#cakescreen {
    position: relative;
    min-height: 300px;
    font-size: 35px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 77px;
}

#content {
    padding-left: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    grid-gap: 20px 20px;
}

.grid-item-1 {
    /*background-image: url("/static/images/Cheesecake.png");
    background-size: cover;*/
    background-color: rgba(255, 238, 232, 0.89);
    padding-top: 130px;
    width: 880px;
    height: 200px;
    font-size: 30px;
    text-align: center;
}

