html {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffbd9c;
    color: #E3D7FF;
}

html, body {
    height: auto;
    margin: 0px; /*resets the margin and padding of the css*/
    padding: 0px;
}

a, a:visited {
    color: #3D3D3D; /*links wont appear in a different colour*/
    text-decoration: none;
}


header {
    height: 70px; /*should change this and footer later, a set height makes it not scale with width*/
    width: 100%;
    position: fixed;
    z-index: 1; /*makes the header appear on top*/
    color: #3D3D3D;
    background-color: white;
    padding-left: 60px;
} 

main {
    margin: 0;
    padding-top: 60px;
}

footer {
    height: 70px; 
    max-width: 100%; /*max width makes page not sidescroll, whereas width does*/
    background-color: white;
    color: #3d3d3d;
    padding-left: 60px;
    padding-top: 1px;
}

#splash {
    position: relative;
    min-height: 400px;
    font-size: 35px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 37px;
    background-color: #ff61ed;
}