<title>Cake Shop | About Us</title>
{% extends 'layout.html' %}

{% block content %}
<div id=content>
    <div class="banner-image">
        <img src="/static/images/About1.png", alt="Cake image">
    </div>
    <div class="head-title">About Us</div>
    <div class="about-section">
        <div class="about-left">
            <img src="/static/images/About3.png", alt="Cake image">
        </div>
        <div class="about-text">Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.</div>
    </div>
        <!--<div class="span-image">
        <img src="/static/images/About3.png", alt="Cake image">
    </div>-->
    <div class="about-section">
        <div class="about-right">
            <img src="/static/images/About2.png", alt="Cake image">
        </div>
        <div class="about-text">Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.</div>
    </div>
    <!--<div class="span-image">
        <img src="/static/images/About5.png", alt="Cake image">
    </div>-->
</div>
{% endblock %}