<title>Cake Shop | About Us</title>
{% extends 'layout.html' %}

{% block content %}
<div id=content>
    <img src="/static/images/About1.png", alt="Cake image">
    <div class="abouttitle">wfa awj nfw</div>
    <img src="/static/images/About2.png", alt="Cake image">
    <div class="abouttext">AAAAAAAAAAAAAA</div>
    <img src="/static/images/About3.png", alt="Cake image">
    <img src="/static/images/About4.png", alt="Cake image">
    <div class="abouttext">AAAAAAAAAAAAAA</div>
    <img src="/static/images/About5.png", alt="Cake image">
</div>
{% endblock %}