<title>Cake Shop | About Us</title>
{% extends 'layout.html' %}

{% block content %}
<div class="banner-image">
    <img src="/static/images/About1.png", alt="Cake image">
</div>
<div id=content>
    <div class="head-title">About Us</div>
    <br>
    <div class="about-section">
        <div class="about-left">
            <img src="/static/images/About3.png", alt="Cake image">
        </div>
        <div class="about-text">Love Cake? We do too! Here at Cake Shop, we all love cakes. Who doesn't? For all of the lovers of cake out there in the world, and perhaps those 
            destined to be- we're trying to spread the good word one bite at a time. Cake Shop is here as a place to display the beauty of cakes, and unite all cake lovers on 
            Earth, and maybe even make more. Here at Cake Shop anyone is free to look at a selection of different cakes, look into how they're made, and talk with other people 
            with similar interests in dessert.<br>With cake, nothing is impossible.</div>
    </div>
    <div class="about-section">
        <div class="about-right">
            <img src="/static/images/About2.png", alt="Cake image">
        </div>
        <div class="about-text">Cake Shop was created in 2020 as a way to share the joy of cake with others! Feel free to look around and ask if you have any questions. Or perhaps 
            you just want to come in and talk-everyone's welcome! Here at cake shop, we're pleased to serve. We're always happy to have you around.
        </div>
    </div>
</div>
{% endblock %}