<title>Cake Shop - Cakes</title>
{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
    {% for cake in cakes %}
        <div class="grid-item">
            <div id="card"><img src="static/images/{{cake[0]}}.png", alt="Cake image" height=200px width=90%></div> <!--image of cake which is shown on page-->
            <div id="cakename"><a href = "cake/{{cake[0]}}"> {{cake[1]}}</a></div> <!--name of cake-->
        </div>
    {% endfor %}
</div>
{% endblock %}

<!--
<div class="grid-container">
    <div class="grid-item-1">
        <a href = "cake/1">Chocolate Layer Cake</a>
    </div>
    <div class="grid-item-2">
        <a href = "cake/2">Blueberry Cake</a>
    </div>
    <div class="grid-item-3">
        <a href = "cake/3">Sponge Cake</a>
    </div>
    <div class="grid-item-4">
        <a href = "cake/4">Butter Cake</a>
    </div>
    <div class="grid-item-5">
        <a href = "cake/5">Apple Cake</a>
    </div>
    <div class="grid-item-6">
        <a href = "cake/6">Pound Cake</a>
    </div>
    <div class="grid-item-7">
        <a href = "cake/7">Red Velvet</a>
    </div>
    <div class="grid-item-8">
        <a href = "cake/8">Pavlova</a>
    </div>
    <div class="grid-item-9">
        <a href = "cake/9">Chiffon Cake</a>
    </div>
    <div class="grid-item-10">
        <a href = "cake/10">Cheesecake</a>
    </div>
</div>-->