<title>Cake Shop | Cakes</title>
{% extends 'layout.html' %}

{% block content %}
<div class="grid-container">
    {% for cake in cakes %}
        <div class="grid-item">
            <a href = "cake/{{cake[0]}}"> <!--link to individual cake page-->
                <img src="/static/images/{{cake[0]}}.png", alt="Cake image"> <!--image of cake which is shown on page-->
                <div id="cake-name"> {{cake[1]}}</div> <!--gets name of cake from the query-->
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}