<title>Cake Shop | Message Board</title>
{% extends 'layout.html' %}

{% block content %}
<div id="content">
    <div class="banner-image">
        <img src="/static/images/MessageBanner.png", alt="Assorted Dessert">
    </div>
    <div class="head-title">Message Board</div>
    <a href="/board/create"><div class="post-button">Create New Post</div></a>
    <h2>Topics</h2>
    {% for post in posts %}
        <div class = "post-wrapper">
            <a href="{{ url_for('post', post_id=post['id']) }}"><!--gets link for individual post page-->
                <div class="board-header">{{ post['title'] }}</div>
            </a>
            <span class="time_created">Created: {{ post['created'] }}</span>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}