<title>Cake Shop | Message Board</title>
{% extends 'layout.html' %}

{% block content %}
<div class="banner-image">
    <img src="/static/images/MessageBanner.png", alt="Assorted Dessert">
</div>
<div id="content">
    <div class="head-title">Message Board</div>
    <a href="/board/create"><div class="post-button">Create New Post</div></a>
    <div id="board-box">
        <div id="topics">Topics</div>
        <div id="board-content">
            {% for post in posts %}
                <a href="{{ url_for('post', post_id=post['id']) }}"><!--gets link for individual post page-->
                    <div class = "post-wrapper">
                        <div class="board-header">{{ post['title'] }}</div>
                        <div class="time-created">Created: {{ post['created'] }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}