{% extends 'layout.html' %}

{% block content %}
{% for cake in cakes %}
<div id="cakescreen">
    <a href="/cake/{{previousnum[0]}}" class="previous">&#8249;</a>
    <a href="/cake/{{nextnum[0]}}" class="next">&#8250;</a>
    <img src="/static/images/{{cake[1]}}.png", alt="image of {{cake[0]}}">
    <div id="cakeheader">{{cake[0]}}</div>
</div>
<div id="cakedescription">{{cake[2]}}</div>
{% endfor %}
<div id="ingredientheader">Ingredients</div>
<div id="ingredientlist">
    {% for ingredient in ingredients %}
        <div class="listitem">
            {{ingredient[0]}}
        </div>
        <div class="listitem">
            {{ingredient[1]}}
        </div>
    {% endfor %}
</div>
{% endblock %}