{% extends 'layout.html' %}

{% block content %}
{% for cake in cakes %}
<div id="cake-screen">
    <a href="/cake/{{previousnum[0]}}" class="previous">&#8249;</a>
    <a href="/cake/{{nextnum[0]}}" class="next">&#8250;</a>
    <img src="/static/images/{{cake[1]}}.png", alt="image of {{cake[0]}}">
    <div id="cake-header">{{cake[0]}}</div>
</div>
<div id="cake-description">{{cake[2]}}</div>
{% endfor %}
<div id="ingredient-header">Ingredients</div>
<div id="ingredient-list">
    {% for ingredient in ingredients %}
        <div class="list-item">
            {{ingredient[0]}}
        </div>
        <div class="list-item">
            {{ingredient[1]}}
        </div>
    {% endfor %}
</div>
{% endblock %}