<title>Cake Shop</title>
{% extends 'layout.html' %}

{% block content %}
<div id=splash>
    <h1>Cake Shop</h1>
    <a href="/all_cakes"><button class="cake-button">View Cakes</button></a>
</div>
<div id="home-info">
    <div id="home-info-header">The Art of Cake</div>
    <div class="centered-quotation">The fine art of cake. The balance between the sun and the moon. The essence of life and death itself. An everlasting kiss of something beyond.</div>
    <div class="home-info-content">Cake really is a wonderful thing isn't it?</div>
</div>
{% endblock %}