<title>Cake Shop</title>
{% extends 'layout.html' %}

{% block content %}
<div id=splash>
    Cake Shop
    <br>
    <a href="/all_cakes"><button class="cake-button">View Cakes</button></a>
</div>
<div id="home-info">
    <div id="home-info-header">The Art of Cake</div>
    <div class="centered-quotation">The fine art of cake. The balance between the sun and the moon. The essence of life and death itself. An everlasting kiss of something beyond.</div>
    <div class="home-info-image"><img src="/static/images/spare.png", alt="UJBHAHFUJBHAFJUBAFUJ"></div>
    <div class="home-info-content">Sweet delight? Blessed by the heavens. The art of cake is something which has truly blossomed under the hands of mankind. A gift, promising of 
        something greater. A perfect representation of everything right with life. <br>The Cake really is a wonderful thing isn't it? <br>The Cake is a dessert made from ingredients 
        such as flour and sugar. In its earliest, most rudimentary form, a being simply born of plain bread. Modern Cake culture has evolved the dessert into a canvas for 
        the expressing of one's soul into. <br>Cakes are perfect for any type of occasion, be it for birthdays, weddings, or even just to enjoy in the comfort of one's very 
        own home. One can never go wrong with Cake. <p><br>Believe in Cake. <br>Trust in Cake. <br>Live in Cake.</p>
    </div>
</div>
{% endblock %}