<!doctype html>
<html>
    <head>
        <title>Cake Shop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewpor" content="height=device-height">
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <header>{% include 'header.html' %}</header>
            <nav>{% include 'nav.html' %}</nav>
            <main>{% block content %} {% endblock %}</main>
            <footer>{% include 'footer.html' %}</footer>
        </div>
    </body>
</html>