{% extends 'layout.html' %}

{% block content %}
    <div id = "post-page-content">
        <div class="post-section">
            <div class = "post-content">
                <div id="post-title">{% block title %} {{ post['title'] }} {% endblock %}</div>
                <div id="post-text">{{ post['content'] }}</p></div>
                <div class="post-info">
                    Time posted: {{ post['created'] }}
                    <br><a href="/board/{{post[0]}}/report/post">Report this post</a>
                </div>
            </div>
        </div>
        <div class = "comment-section">
            <form method="post">
                <div class="comment-box">
                    <div class="comment-header">Comments</div>
                    <br>
                    <textarea name="content" placeholder="Make a comment!" 
                        class="form-control">{{ request.form['content'] }}</textarea> <!--user can enter their comment here-->
                </div>
                <div class="comment-submit">
                    <button type="submit" class="submit_button">Submit</button> <!--submit a comment button-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="flash-comment-message">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
            <div class="comment-count">There are {{comment_counter[0]}} comments</div>
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-text">{{comment[3]}}</div>
                    <div class="comment-info">{{comment[2]}}<!-- <a href="/board/{{post[0]}}/report/comment">Report</a>--></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}