{% extends 'layout.html' %}

{% block content %}
    <div id = "content">
        <div id = "post-content">
            <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
            <span class="badge badge-primary">{{ post['created'] }}</span>
            <p>{{ post['content'] }}</p>
        </div>
        <form method="post">
            <div class="form-group">
                <div class="board-header">Comment</div>
                <br>
                <textarea name="content" placeholder="Post content"
                        class="form-control">{{ request.form['content'] }}</textarea> <!--makes sure data isnt wiped if user forgets to enter other area-->
            </div>
            <div class="form-group">
                <button type="submit" class="submit_button">Submit</button>
            </div>
        </form>
        <div id = "comment-section">
            {% for comment in comments %}
                {{comment[3]}}
                {{comment[2]}}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}